body {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #E53935;
}

.pion-hr {
  background-color: #E53935;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.index-image {
  font-size: 55px;
}

.index-reason-padding {
  padding: 1.5em;
}

#index-github-button {
  border-color: #E53935;
}

.navbar-item-desktop {
  color: white !important;
  background-color: black !important;
}
