body {
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #E53935;
}

.pion-hr {
  background-color: #E53935;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-hr {
  background-color: #BBBCBE;
  width: 100%;
  height: 1.5;
}

.index-image {
  font-size: 55px;
}

.index-reason-padding {
  padding: 1.5em;
}

#index-github-button {
  border-color: #E53935;
}

.navbar-item-desktop {
  color: white !important;
  background-color: black !important;
}

.content-header-href {
  padding-left: 4px;
  visibility: hidden;
}

h1:hover .content-header-href,
h2:hover .content-header-href,
h3:hover .content-header-href,
h4:hover .content-header-href,
h5:hover .content-header-href,
h6:hover .content-header-href {
  visibility: visible;
}
