{{ define "main"}}

<div class="columns is-mobile" style="padding-top: 3em;">

  {{ partial "knowledge-base-sidebar" . }}

  <div class="column">
    <section>
      <div class="columns has-text-centered" style="padding-top: 3em;">
        <div class="column">
          <h1 class="title" style="font-size: 3rem">Knowledge Base</h1>
          <hr class="pion-hr">
        </div>
      </div>
    </section>

    <section>
      <div class="columns" >
        <div class="column">
          Learn not just about Pion, but WebRTC fundamentals. This isn't API documentation only, but a deep dive into every part of the WebRTC stack.
        </div>
      </div>
    </section>
  </div>
</div>
{{ end }}
