{{ define "main"}}

  <section>
    <div class="columns has-text-centered" style="padding-top: 3em;">
      <div class="column">
        <h1 class="title" style="font-size: 5rem">Pion Blog</h1>
        <hr class="pion-hr">
      </div>
    </div>
    {{ range .Pages }}
      <div class="columns has-text-centered">
        <div class="column">
          <a href="{{.Permalink}}">
          <h1 style="font-size: 3rem">{{.Title}}</h1></a>
          <p>{{.Description }} </p>
          <p>{{ delimit (.Param "authors") ", " }} -- {{.Date.Format "2006-01-02"}} </p>
        </div>
      </div>
    {{ end }}
  </section>
{{ end }}
