{% macro links() %}
<a href="https://x.com/_pion">
    <img class="brand-icon" src="/img/brand/x.svg" alt="X Logo" width="24" height="24">
</a>
<a href="https://github.com/pion">
    <img class="brand-icon" src="/img/brand/github.svg" alt="GitHub Logo" width="24" height="24">
</a>
<a href="https://bsky.app/profile/pion.ly">
    <img class="brand-icon" src="/img/brand/bluesky.svg" alt="Bluesky Logo" width="24" height="24">
</a>
<a href="https://discord.gg/6EsQz85vPE">
    <img class="brand-icon" src="/img/brand/discord.svg" alt="Discord Logo" width="24" height="24">
</a>
{% endmacro links%}
