.banner {
  text-align: center;
  padding: ($vertical-padding + $gutter) $gutter ($gutter * 2);
  background: $black;

  .single & {
    background: $white;

    h2 {
      color: $black;
      margin-bottom: 0;
    }
  }

  &-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
  }

  h2 {
    color: $white;
  }
}
