// Social media
footer {
  display: flex;
  padding: ($gutter * 2) ($gutter / 2);

  .footer-wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
  }

  .pion-blurb {
    flex: 3;
  }

  .pion-links {
    flex: 1;
    padding-left: $gutter;
  }
}
