.intro {
  position: relative;
  display: flex;
  justify-content: center;
  height: 95vh;
  min-height: min-content;
  overflow: hidden;
  background-image: -webkit-linear-gradient(145deg, lighten($brand-red, 10%) 0%, $brand-red 100%) !important;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    bottom: -1px;
    background: url('img/banner.png') no-repeat scroll 10%;
    z-index: 1;
  }

  &::after {
    top: 1px;
    background: url('img/shape.png') no-repeat scroll center bottom;
    background-size: cover;
  }

  h1,
  h4 {
    position: relative;
    color: $white;
    margin: 0 0 ($gutter / 3);
    max-width: 540px;
    z-index: 2;
  }

  h4 {
    font-weight: 400;
    margin-bottom: $gutter;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 0;
    height: 70vh;
    width: 70vh;
    opacity: 0;
    z-index: 0;
    transition: all 1.5s;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
    transform: scale(0) translateY(-50%);

    &.visible {
      transform: scale(1) translateY(-50%);
      opacity: 1;
    }
  }
}
