{{ define "main"}}
  <section>
    <div class="columns has-text-centered" style="padding-top: 3em;">
      <div class="column">
        <h1 class="title" style="font-size: 3rem">{{.Title }}</h1>
        {{ if isset .Params "authors" }}
          <p>{{.Description }} </p>
          <p>{{ delimit (.Param "authors") ", " }} -- {{.Date.Format "2006-01-02"}} </p>
        {{ end }}
        <hr class="pion-hr">
      </div>
    </div>
  </section>

  <section>
    <div class="content" style="padding: 3em;">
    {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a class="content-header-href" href="#${2}"><i class="fas fa-paperclip"></i></a> ${3}` | safeHTML }}
    </div>
  </section>

  <footer class="footer">
    <hr class="footer-hr">
    <div class="content has-text-right">
      <p>
        <a href="https://github.com/pion/website/blob/master/content/{{.Site.Language.Lang}}/{{ .File.Path }}" target="_blank">Edit this page</a>
      </p>
    </div>
  </footer>
{{ end }}
