// TODO: Refactor to mixin
button,
a.button {
  @include border-radius;
  @include trans;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $white;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  padding: 0 $gutter;
  min-width: 100px;
  min-height: 50px;
  border: solid 2px $white;
  border-radius: 60px;

  &:hover {

  }

  &.secondary {
    border: solid 1px $primary;
  }
}