// Headings
h1,
h2,
h3,
h4,
h5 {
  color: $black;
  font-family: $mainfont;
  font-weight: 700;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4.8em;
	line-height: 1em;

  @media screen and (max-width: $largedevice) {
    font-size: 4em;
  }

 	@media screen and (max-width: $mediumdevice) {
    font-size: 2.8em;
  }
}

h2 {
  font-size: 3em;
  line-height: 1.05em;

  @media screen and (max-width: $largedevice) {
    font-size: 2.6em;
  }

  @media screen and (max-width: $mediumdevice) {
    font-size: 1.6em;
    line-height: 1.1em;
  }
}

h3 {
  font-size: 1.8em;
  line-height: 1.2em;

  @media screen and (max-width: $largedevice) {
    font-size: 1.6em;
  }

 	@media screen and (max-width: $mediumdevice) {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}

h4 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.5em;

 	@media screen and (max-width: $smalldevice) {
    font-size: 0.9em;
  }
}

h5 {
  @include smallcaps;
  margin-bottom: 4em;
}

// Paragraph
p {
  color: $base;
  font-size: 0.95em;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0;
  padding: 0;

  &.small {
    font-size: 0.85em;

    @media screen and (max-width: $smalldevice) {
      font-size: 0.7em;
    }
  }

	@media screen and (max-width: $smalldevice) {
		font-size: 0.8em;
  }
}
