// Headings
h1,
h2,
h3,
h4,
h5,
p {
  color: $black;
  font-family: $secfont;
  font-weight: 500;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4.8em;
	line-height: 1em;

  @media screen and (max-width: $largedevice) {
    font-size: 4em;
  }

 	@media screen and (max-width: $mediumdevice) {
    font-size: 2.8em;
  }
}

h2 {
  font-size: 2em;
  line-height: 1.05em;
  margin: $gutter 0 ($gutter / 2);

  .banner & {
    font-size: 3.6em;
  }

  @media screen and (max-width: $largedevice) {
    font-size: 2.6em;
  }

  @media screen and (max-width: $mediumdevice) {
    font-size: 1.6em;
    line-height: 1.1em;
  }
}

h3 {
  font-size: 1.6em;
  font-weight: 600;
  line-height: 1.2em;
  margin: ($gutter / 2) 0 ($gutter / 4);

  @media screen and (max-width: $largedevice) {
    font-size: 1.6em;
  }

 	@media screen and (max-width: $mediumdevice) {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}

h4 {
  font-size: 1.4em;
  line-height: 1.3em;

 	@media screen and (max-width: $smalldevice) {
    font-size: 0.9em;
  }
}

h5 {
  @include smallcaps;
  margin-bottom: 4em;
}

// Paragraph
p {
  color: $base;
  font-size: 0.95em;
  font-weight: 500;
  line-height: 1.8em;
  margin-bottom: ($gutter / 2);

	@media screen and (max-width: $smalldevice) {
		font-size: 0.8em;
  }
}
