.intro {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: min-content;
  height: 85vh;
  overflow: hidden;
  background: $black;

  .section-wrap {
    padding-top: $gutter;
  }

  h1,
  h4 {
    position: relative;
    color: $white;
    text-align: center;
    margin: 0 auto ($gutter / 2);
    max-width: 1200px;
    z-index: 2;
  }

  h4 {
    margin-bottom: $gutter;
    max-width: 740px;
  }
}