.knowledge-base {
  margin: 0 auto;
  padding: 0;

  .kb-flex {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;

    @media screen and ( max-width: 700px) {
        flex-direction: column;
    }
  }

  .kb-nav {
    flex: 1 60px; order: 0;
    li {
        list-style: none;
        margin-top: 1em;
    }
  }

  .kb-content {
    flex: 4; order: 1;
    min-height: 400px;
  }

  .post {
    padding: $gutter;

    &-title {
      color: $brand-gray;
    }
  }
}