.knowledge-base {
  margin: 0 auto;
  padding: 0;

  .kb-nav {
    padding: ($gutter / 2) $gutter 0;

    ul {
      @include clean-ul;
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        margin: 0;
        padding: 0 ($gutter / 2);

        a {
          color: $white;
        }
      }
    }
  }

  .kb-main {
    margin: 0 auto;
    width: 100%;

    &.list {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      max-width: $largewidth;
    }

    &.single {
      max-width: $smallwidth;
    }

    @media screen and ( max-width: 700px) {
      flex-direction: column;
    }
  }

  .post {
    padding: ($gutter / 2);

    &-title {
      color: $brand-gray;
    }
  }
}