<footer>
  <div class="footer-wrap">
    <div class="pion-blurb">
        <h4>Community</h4>
        <p>Pion only exists because of the community that builds it. Join us and get help building out your next big idea.</p>
    </div>
    <div class="pion-links">
        <h4>Connect</h4>
        <ul>
          <li><a href="https://github.com/pions">Github</a></li>
          <li><a href="/slack/">Slack</a></li>
          <li><a href="mailto:team@pion.ly">team@pion.ly</a></li>
        </ul>
    </div>
  </div>
</footer>
