<div class="column is-narrow">
  <div style="width: 330px; padding-left: 1em;">
    <ul>
      {{ if gt (len .Sections) 0 }}
        {{ range .Sections }}
          <li class="knowledge-base-section">
            <span class="knowledge-base-link-for-section">
              <i class="fas fa-caret-down knowledge-base-section-icon"></i>
              <i class="fas fa-caret-right knowledge-base-section-icon is-hidden"></i>
              <a> {{ .Title }}</a>
            </span>
            <span>
              <ul style="padding-left: 2em" class="is-hidden">
                {{ range .Pages }}
                  <li> <a href="{{ .RelPermalink}}">{{ .Title }}</a> </li>
                {{ end }}
              </ul>
            </span>
          </li>
        {{ end }}
      {{ else }}
        {{ range .Pages }}
          <ul>
            <li>
              <a href="{{ .RelPermalink}}">{{ .Title }}</a>
            </li>
          </ul>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
