
<header>
  <nav class="menu">
    <a href="/"><img class="logo" src="{{ "img/pion-logo.svg" | absURL }}" src="pion-logo.svg"></a>
    <div class="left">
      {{ $showActiveNav := .Site.Params.showActiveNav }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.nav }}
        {{ $active := "" }}
        {{ if eq $showActiveNav true }}
          {{ $isMenu := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
          {{ $isMenu = or $isMenu (eq $currentPage.Title .Name) }}
          {{ $isMenu = or $isMenu (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
          {{ $isMenu = or $isMenu (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
          {{ if $isMenu }}
            {{ $active = "nav-link-active" }}
          {{ end }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        <a class="nav-link {{ $active }}" href="{{ .URL }}">{{ $text }}</a>
      {{ end }}
    </div>
    <div class="right">
      <a href="https://invite.slack.golangbridge.org/">Slack</a>
      <a class="github" href="https://github.com/pions">Github</a>
    </div>
  </nav>
</header>