<header {{ if (not .IsHome) }} class="force-shadow" {{end}} >
  <nav class="menu">
    <a href="/"><img class="logo"></a>
    <div class="left">
      {{ $showActiveNav := .Site.Params.showActiveNav }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.nav }}
        {{ $text := print .Name | safeHTML }}
        <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
      {{ end }}
    </div>
    <div class="right">
      <a href="https://invite.slack.golangbridge.org/">Slack</a>
      <a class="github" href="https://github.com/pions">Github</a>
    </div>
  </nav>
</header>
