{{ define "main" }}

<section class="intro">
  <div class="section-wrap">
    <svg id="pion-circles" version="1.1"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="589.6px" height="589.6px" viewBox="0 0 589.6 589.6" enable-background="new 0 0 589.6 589.6">
      <defs>
      </defs>
      <g>
        <circle fill="none" stroke-linecap="round" stroke-width="25" stroke-miterlimit="10" cx="294.8" cy="294.8" r="282.3"/>
        <circle fill="none" stroke-linecap="round" stroke-width="25" stroke-miterlimit="10" cx="294.8" cy="294.8" r="238.6"/>
        <circle fill="none" stroke-linecap="round" stroke-width="25" stroke-miterlimit="10" cx="294.8" cy="294.8" r="194.9"/>
        <circle fill="none" stroke-linecap="round" stroke-width="25" stroke-miterlimit="10" cx="294.8" cy="294.8" r="154.4"/>
        <circle fill="none" stroke-linecap="round" stroke-width="25" stroke-miterlimit="10" cx="294.8" cy="294.8" r="117.9"/>
      </g>
    </svg>
    <h1>{{.Title}}</h1>
    <h4>{{.Description}}</h4>
    <a class="button" href="https://github.com/pions">Get Started</a>
  </div>
</section>

<section class="more">
  <div class="section-wrap">
    {{.Content}}
  </div>
</section>

{{ end }}