{{ define "main"}}

<section>
  <div class="columns has-text-centered" style="padding-top: 3em;">
    <div class="column">
      <h1 class="title" style="font-size: 5rem">Pion</h1>
      <hr class="pion-hr">
      <h2 class="subtitle has-text-grey">The Modern Stack for Web Real-Time Communication.</h2>

      <a class="button is-large" href="https://github.com/pion" id="index-github-button">
        <span>View on GitHub</span>
      </a>
    </div>
  </div>
</section>

<section style="padding-top: 10em;">
  <div class="columns has-text-centered">
    <div class="column">
      <span class="index-image">
        <i class="fas fa-shipping-fast"></i>
      </span>
      <h1 class="is-size-4"> API You Know </h1>
      <p class="index-reason-padding"> Pion implements the WebRTC API. Spend more time building and less time learning a new API. </p>
    </div>

    <div class="column">
      <span>
        <img src="{{ "/img/go-logo.svg" | relURL }}">
      </span>
      <h1 class="is-size-4"> Build Quickly </h1>
      <p class="index-reason-padding"> Pion is fast! With quick build times, examples and godoc you will be deploying in no time. <p>
    </div>

    <div class="column">
      <span class="index-image">
        <i class="fas fa-mobile-alt"></i>
      </span>
      <h1 class="is-size-4"> Ship Everywhere </h1>
      <p class="index-reason-padding"> Pion works almost everywhere thanks to Go. Ship to Mobile, Desktop, Servers and WASM all with one code base. </p>
    </div>
  </div>
</section>

<hr class="pion-hr">

<section>
  <div class="columns has-text-centered">
    <div class="column">
      <span class="index-image">
        <i class="fas fa-graduation-cap"></i>
      </span>
      <h1 class="is-size-4"> Learn While You Build </h1>
      <p class="index-reason-padding"> We built everything from scratch, come learn from our journey. We have docs not just on Pion, but also deep WebRTC knowledge. </p>
    </div>

    <div class="column">
      <span class="index-image">
        <i class="fas fa-people-carry"></i>
      </span>
      <h1 class="is-size-4"> Community Owned </h1>
      <p class="index-reason-padding"> Pion is owned by the community, no private bugs or roadmaps. Come join in the development on GitHub and Slack. </p>
    </div>

    <div class="column">
      <span class="index-image">
        <i class="fab fa-cloudscale"></i>
      </span>
      <h1 class="is-size-4"> Proven </h1>
      <p class="index-reason-padding"> Pion has multiple large production users already. Come learn from them and be the next! </p>
    </div>
  </div>
</section>

{{ end }}
