// TODO: Refactor to mixin
.button {
  @include border-radius;
  @include trans;
  position: relative;
  display: inline-block;
  color: $brand-red;
  font-size: 0.8em;
  font-weight: 700;
  padding: ($gutter / 2.5) ($gutter / 2);
  min-width: 120px;

  &::before,
  &::after {
    --position: 5px;
    @include border-radius;
    @include trans;
    content: '';
    position: absolute;
    border: solid 2px $brand-red;
  }

  &::before {
    top: calc(-1 * var(--position));
    left: calc(-1 * var(--position));
    right: var(--position);
    bottom: var(--position);
  }

  &::after {
    top: var(--position);
    left: var(--position);
    right: calc(-1 * var(--position));
    bottom: calc(-1 * var(--position));
  }

  &:hover {
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }

  &.secondary {
    border: solid 1px $primary;
  }
}